@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

h1 {
  @apply text-3xl md:text-5xl font-medium;
}

h2 {
  @apply text-2xl md:text-3xl font-medium;
}

h3 {
  @apply text-xl md:text-2xl font-medium;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
