@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #000;
    --foreground: #fff;
  }
  
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
